<div class="create-games-container card col-8">
    <form action="">
        <label for="gameTitle"> Categoria
            <input id="gameTitle" type="text" placeholder="Ingrese el titulo del juego">
        </label>
        <label for="reqCPU"> Edad mínima
            <input id="reqCPU" type="text" placeholder="Ingrese el CPU requerido">
        </label>
    </form>
    
    <ng-content select="[button]"></ng-content>
    
    <!-- <button class="col-2" type="submit">Guardar juego</button> -->
    </div>