<header>
    <a class="header_logo" [routerLink]="['']">
        <img src="../../../../assets/img/header_logos/estim_logo2.png" alt="Logo Estim">
    </a>

    <nav>
        <ul>
            <li>
                <a href="#catalogo">Catálogo</a>
            </li>
            <li>
                <a href="#catalogo">Terror</a>
            </li>
            <li>
                <a href="#catalogo">Carreras</a>
            </li>
            <li>
                <a href="#catalogo">Aventura</a>
            </li>
        </ul>
    </nav>

    <div>
        Login
    </div>
</header>
