<header>
    <a class="header_logo" [routerLink]="['']">
        <img src="../../../../assets/img/header_logos/estim_logo2.png" alt="Logo Estim">
    </a>

    <nav>
        <ul>
            <li>
                <div routerLink="/home">Catálogo</div>
            </li>
            <li>
                <div>Terror</div>
            </li>
            <li>
                <div>Carreras</div>
            </li>
            <li>
                <div routerLink="/create-game">Cargar Juego</div>
            </li>
        </ul>
    </nav>

    <div>
        Login
    </div>
</header>
