<div class="create-games-container card col-8">
<form action="">
    <label for="gameTitle"> Título del juego
        <input id="gameTitle" type="text" placeholder="Ingrese el titulo del juego">
    </label>
    <label for="reqCPU"> CPU:
        <input id="reqCPU" type="text" placeholder="Ingrese el CPU requerido">
    </label>
    <label for="reqRAM"> RAM:
        <input id="reqRAM" type="text" placeholder="Ingrese la cantidad de ram requerida">
    </label>
    <label for="reqAlmacenamiento"> Almacenamiento:
        <input id="reqAlmacenamiento" type="text" placeholder="Ingrese la cantidad de GB de almacenamiento requerido">
    </label>
    <label for="gameGenre"> Género:
        <input id="gameGenre" type="text" placeholder="A qué género pertenece el juego?">
    </label>
    <label for="gamePrice"> Precio:
        <input id="gamePrice" type="text" placeholder="Ingrese el precio del juego">
    </label>
    <label for="gameType"> Tipo de juego:
        <select name="gameType" id="gameType">
            <option>Seleccione tipo de juego</option>
            <option value="DLC">DLC</option>
            <option value="fullGame">Full Game</option>
        </select>
    </label>
</form>

<ng-content select="[button]"></ng-content>

<!-- <button class="col-2" type="submit">Guardar juego</button> -->
</div>