<div class="catalog_class">
    <ul>

        <li *ngIf="games_catalog.length === 0 else games_list">Actualmente no hay juegos disponibles</li>
        <ng-template #games_list>
            <li class="card" *ngFor="let game of games_catalog | sortyBy" appCatalogGames>
                <img src="{{game.img}}" alt="">
                <div>
                    <span>{{game.name | titlecase}}</span>
                    <span>{{game.company | titlecase}}</span>
                    <span>{{game.category | titlecase}}</span>
                    <span>{{game.price}}</span>
                </div>
            </li>
        </ng-template>
    </ul>
</div>
